/* estilos al bloque, principal */
.publicacion-blog{
    width: 500px; /*ancho fijo para que pueda ver ordenado*/
    background-color: lightgrey;
    border: 1px solid #ccc ;
    padding: 1rem;
    margin: 1rem auto;
    border-radius: 8px;
}

/* estilo a elemento titulo */
.publicacion-blog__titulo{
    font-size: 1.5rem;
    color: #333;
    margin-bottom: 0.5rem;
}

/* estilos al modificador */
.publicacion-blog__titulo--destacado{
    color: green;
}

/* estilos al elemento fecha*/
.publicacion-blog__fecha{
    font-size: 0.9rem;
    color: #777;
    margin-bottom: 0.8rem;
}
/* estilos a elemento contendio */
.publicacion-blog__contenido{
    font-size: 1rem;
    color: #fff;
    line-height: 1.5; /*espacio entre lienas*/
    margin-bottom: 0.8rem;
    font-weight: bold;
}

/* estilos a elementos autor */
.publicacion-blog__autor{
    font-size: 0.9rem;
    color: #555;
    font-style: italic;
}