/* bloque tabla-datos */
.tabla-datos{
    width: 100%; /*ocupe el ancho disponible*/
    max-width: 300px; /*ancho maximo*/
    margin: 0 auto;
    border-collapse: collapse; /*unir los bordes*/
    border: 1px solid #ccc;
}   

/* estilos al elementos celda */
.tabla-datos__celda{
    padding: 8px;
    border: 1px solid #ddd;
}

/* estilos al modificado celda--importante */
.tabla-datos__celda--importante{
    background-color: yellow; /*se le aplica solo el color amarillo al nombre*/
    font-weight: bold;
}